<style>
    table { border-collapse: collapse; margin: 3px}
    tr.cat { background-color: #7fff00;}
    tr.date { background-color: #fff8dc;}
    td { border: 1px solid #999; padding: 5px;}
    table thead {
        background-color: #CCE8EB;
        font-weight: bold;
    }
    td.score { background-color: #fff8dc; }
    td.up { color:#ff0000;}
    thead td { text-align: center; }
</style>
<table>
    <thead>
        <tr>
            <td></td>
            <td>权重={{ rank_conditions['avg']['weight'] }}</td>
            <td>权重={{ rank_conditions['lost']['weight'] }}</td>
            <td>权重={{ rank_conditions['std']['weight'] }}</td>
            <td></td>
        </tr>
        <tr>
            <td>服务器名称</td>
            <td>均值(毫秒)</td>
            <td>(10秒)超时次数</td>
            <td>标准差</td>
            <td>综合排名</td>
        </tr>
    </thead>
    <tbody>
        {% for _, proxy in data.iterrows() %}
        <tr>
            <td>{{ proxy['alias'] }}</td>
            <td>{{ proxy['avg'] }}</td>
            <td>{{ proxy['lost'] }} / {{ proxy['total'] }}</td>
            <td>{{ proxy['std'] }}</td>
            <td>{{ proxy['curl_rank'] | int }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>